@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb_bold_italic.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb_bold_italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb_bold.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb_extrabold_italic.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb_extrabold_italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb_extrabold.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb_extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb_italic.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb_italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb_medium_italic.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb_medium_italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb_medium_italic.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb_medium_italic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://scripty.org/assets/jb_mono/woff2/jb.woff2') format('woff2'),
  url('https://scripty.org/assets/jb_mono/woff/jb.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
